<!-- CONTAINER -->
<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">Encontre o emprego dos sonhos</h1>
  <p id="main-subtitle" class="text-center">
    Site focado em vagas de técnologia, sendo a grande maioria focada no
    HomeOficce.
  </p>
  <form id="search-form" class="form-inline" action="">
    <div class="form-group col-md-10">
      <input
        type="text"
        class="form-control"
        id="vaga"
        name="vaga"
        placeholder="Digete a vaga que você está buscando"
      />
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>

<!-- MAIN -->
<main>
  <div id="vagas-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="vagas-list-title">Veja nossas vagas em destaque</h2>
        <ul id="vaga-list" class="list-groud">
          <li class="list-group-item new-vaga">
            <img src="/img/companhia.png" alt="Companhia" />
            <p>Empresa</p>
            <h2>Título da vaga</h2>
            <p>R$2000,00</p>
            <span class="new-job-label">Nova</span>
            <a class="btn btn-primary" href="">Ver vaga</a>
          </li>

          <li class="list-group-item new-vaga">
            <img src="/img/companhia.png" alt="Companhia" />
            <p>Empresa</p>
            <h2>Título da vaga</h2>
            <p>R$2000,00</p>
            <span class="new-job-label">Nova</span>
            <a class="btn btn-primary" href="">Ver vaga</a>
          </li>

          <li class="list-group-item">
            <img src="/img/companhia.png" alt="Companhia" />
            <p>Empresa</p>
            <h2>Título da vaga</h2>
            <p>R$2000,00</p>
            <a class="btn btn-primary" href="">Ver vaga</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>