* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* Nav */

.navbar {
  padding: 1rem;
  border-bottom: 1px solid rgba(155, 152, 152, 0.63);
  font-weight: bold;
}

.navbar .nav-item .btn2 {
  background: rgb(113, 116, 113);
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 1rem;

  transition: 0.3s;
}

.navbar .nav-item .btn2:hover {
  background-color: #fff;
  color: rgb(113, 116, 113);
  border: 1px solid rgb(113, 116, 113);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
}
.navbar .nav-item .btn {
  color: #fff;
  background-color: #f03e3e;
  font-weight: 500;
}

.navbar .nav-item .btn:hover {
  background-color: #fff;
  color: #f03e3e;
  border: 1px solid #f03e3e;
}

/* Banner */
#top-container {
  padding: 110px;
  background-color: #f7f9fc;
  border-bottom: 3px solid rgb(202, 202, 202);
  margin-top: -30px;
  margin-bottom: 40px;
  background-image: url("../img/cod.jpg");
  background-position: 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#main-title {
  padding: 25px 0;
  font-size: 3rem;
}

#main-subtitle {
  font-size: 1rem;
  padding-bottom: 80px;
}

/* Form */
#search-form {
  padding: 30px 100px;
}

#search-form .col-md-10,
#search-form .col-md-2 {
  padding: 2px;
}

#search-form input,
#search-form button {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

#search-form input {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: none;
}

#search-form button {
  color: #fff;
  background-color: #f03e3e;
  border: none;

  transition: 0.3s;
}

#search-form button:hover {
  background-color: #e64f4f;
  transform: scale(1.04);
}

/* lista */
#vagas-container {
  padding: 0 100px;
  padding-bottom: 50px;
}

#vaga-list .list-group-item {
  margin-bottom: 8px;
  border: 1px solid #ccc;
  padding: 15px 80px;
  color: #212529;
}

#vaga-list .list-group-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

#vaga-list .list-group-item.new-vaga {
  background-color: rgba(230, 230, 230, 0.521);
}

#vagas-list-title {
  margin-bottom: 35px;
  padding-left: 35px;
}

.list-group-item img {
  height: 90px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  display: block;
  left: -40px;
  top: calc(50%-40px);
}

.list-group-item a {
  background-color: #f03e3e;
  border: 1px solid transparent;
  border: none;
  position: absolute;
  padding: 8px;
  right: 2%;
  top: 35%;

  transition: 0.3s;
}

.list-group-item a:hover {
  background-color: #fff;
  color: #f03e3e;
  border: 1px solid #f03e3e;
  transform: scale(1.04);
}

.new-job-label {
  background-color: rgb(10, 52, 240);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  right: 20%;
  top: 36%;
  position: absolute;
  display: none;
  border-radius: 5px;
}

.new-vaga .new-job-label {
  display: block;
}

/* add page */

#add-form-container {
  margin-top: 100px;
}

#form-box {
  background-color: rgba(233, 233, 233, 0.247);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

#add-form-container h1 {
  margin-bottom: 20px;
}

#add-form-container h2 {
  color: #f03e3e;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

#add-form-container form label {
  font-weight: bold;
}

#add-form-container form input,
#add-form-container form textarea {
  border: 2px solid #ccc;
}

#form-box button {
  padding: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
}

#form-box button:hover {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}
